<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.river.mapper.EMPMapper">

    <select id="selectAll" resultType="employee">
        select *
        from EMP;
    </select>

    <select id="selectOne" resultType="employee">
        select *
        from EMP
        where empno = 7369
    </select>

    <!--"java.util.Map"有内置别名map(mybatis内置很多的常见类型别名)-->
    <select id="selectMap" resultType="map">
        select *
        from EMP
    </select>

</mapper>