* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#submenu {
    width: 100%;
    height: 30px;
    background: #F1F1F1;
    line-height: 30px;
}

#submenu ul {
    width: 990px;
    height: 30px;
    margin: 0px auto;
}

#submenu li {
    float: left;
    width: 90px;
    text-align: center;
    list-style: none;
    background: url(../img/line.jpg) 0px 3px no-repeat;
}

#submenu li a {
    font-size: 12px;
    color: #666666;
    text-decoration: none;
}

#submenu li.w190 {
    width: 180px;
    background: none;
    text-align: left;
}

#submenu li.bg0 {
    background: none;
}

#submenu li a:hover {
    color: #C91623;
}

#submenu li.t_r {
    text-align: right;
}

/**header */
#content {
    width: 990px;
    margin: 0px auto;
    height: 700px;
}

#logo {
    width: 252px;
    height: 79px;
    float: left;
    background: url(../img/logo.jpg) 0px 0px no-repeat;
}

#search {
    height: 79px;
    line-height: 79px;
    float: right;
}

#search input {
    height: 24px;
    line-height: 24px;
    background: url(../img/search.jpg) 230px 0px no-repeat;
    border: 2px solid #C91623;
    width: 280px;
}


/**allgoods*/
#allgoods {
    clear: both;
}

#allgoods h2 {
    width: 200 p;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #C91623;
    float: left;
}

#allgoods h3 {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    float: right;
    text-align: right;
}

/**title*/
#title {
    width: 986px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #666666;
    clear: both;
    background: #F3F3F3;
}

#title li {
    float: left;
    width: 105px;
    text-align: center;
    list-style: none;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

#title li.w400 {
    width: 399px;
    text-align: left;
    padding-left: 50px;
}

#title li.b2 {
    border-top: 2px solid #C91623;
    border-left: 1px solid #ccc;
    text-align: left;
    padding-left: 10px;
    height: 39px;
}

#title li.br2 {
    border-right: 1px solid #ccc;
    text-align: left;
}

/**info */

.info {
    width: 986px;
    height: 120px;
    border: 1px solid #AAAAAA;
    border-top: 2px solid #AAAAAA;
    margin-top: 20px;
    color: #333333;
    clear: both;
}

.info ul {
    margin-bottom: 20px;
}

.info li {
    list-style: none;
    float: left;
    width: 140px;
    height: 100px;
    font-size: 12px;
}

.info li.p10 {
    padding-left: 10px;
    width: 30px;
}

.info li img {
    border: 1px solid #ccc;
}

.info li.w300 {
    width: 250px;
    height: 20px;
    line-height: 20px;
}

.info li a {
    color: #333333;
    text-decoration: none;
}

.info li a:hover {
    color: #C91623;
}

.info li.w160 {
    width: 165px;
    height: 20px;
    line-height: 20px;
}

.info li.w100 {
    width: 105px;
    height: 20px;
    line-height: 20px;
}

.info li.w100 input {
    border: 1px solid #ccc;
    width: 30px;
}

.info li.w80 {
    width: 80px;
    height: 20px;
    line-height: 20px;
}

.info li.w50 {
    width: 70px;
    height: 20px;
    line-height: 20px;
}


/**cash*/
#cash {
    width: 987px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid #ccc;
    line-height: 50px;
    font-size: 12px;
    color: #333333;
    margin-bottom: 100px;
}

#cash #left {
    float: left;
    padding-left: 10px;
}

#cash #right {
    float: right;
    height: 50px;
    line-height: 50px;
}

#cash a {
    color: #AAAAAA;
    text-decoration: none;
}

#cash span {
    color: #C91623;
    font-size: 20px;
    font-weight: bold;
}

#cash .btn {
    background: url(../img/jiesuan.jpg) 0px -2px no-repeat;
    height: 50px;
    width: 96px;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
