<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.river.mapper.EMPMapper4">

    <!-- id: 方法名称
         resultType: 返回值类型, 使用了别名，首字母一般小写
    -->
    <select id="selectAll" resultType="employee">

        select *
        from EMP

    </select>
</mapper>