<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.river.mapper.StudentMapper">
    <!--    <select id="selectAll" resultType="student">-->
    <!--        select *-->
    <!--        from student-->
    <!--    </select>-->

    <select id="selectAll" resultMap="rm1"><!-- 改用resultMap -->
        select *
        from student
    </select>

    <select id="selectMore" resultType="student">
        select *
        from student
        where clazzno = #{param1}
    </select>

    <resultMap id="rm1" type="student">
        <!-- column: 数据库列名   property: 实体类的属性名
            若数据库列名和实体类属性名一致，可省略
        -->
        <id column="sid" property="sid"></id>
        <result column="sname" property="sname"></result>
        <result column="clazzno" property="clazzno"></result>

        <!--
        select * from clazz where clazzno = ?
        select: 执行的方法
        column: 需要传入的某一列作为参数
        javaType: select返回的类型
        property: 把返回值传给type对象的某个属性
        -->
        <association select="com.river.mapper.ClazzMapper.selectOne" column="clazzno" javaType="clazz" property="cla">

        </association>

    </resultMap>


    <!-- 多表查询 -->
    <select id="selectAll2" resultMap="rm2">
        select *
        from student s
                 join clazz c on s.clazzno = c.clazzno
    </select>

    <resultMap id="rm2" type="student">
        <!-- 注意：书写的每个值就是接收数据库查询的数据
                  所以想要接收的数据字段不可以省略　
        -->
        <id column="sid" property="sid"></id>
        <result column="sname" property="sname"></result>
        <result column="clazzno" property="clazzno"></result>
        <!-- association 用于对象值的接收 -->
        <association property="cla" javaType="clazz">
            <id column="clazzno" property="clazzno"></id>
            <result column="cname" property="cname"></result>
        </association>
    </resultMap>

</mapper>